
section.main-breadcrumb
    .container
        ul
            li
                a(href="#") Trang chủ
            li
                a(href="#") Danh mục sản phẩm
            li
                a(href="#") Sản phẩm chăm sóc da
section.product-detail.py-5
    .container
        .row
            .col-lg-6
                .left-wrapper
                    .sale -20%
                    .image-top
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-1.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-2.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-1.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-2.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-1.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-2.png", alt="")
                    .image-thumb
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-1.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-2.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-1.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-2.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-1.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/product/detail-2.png", alt="")
                        .swiper-navigation
                            .swiper-prev
                                em.lnr.lnr-chevron-left
                            .swiper-next
                                em.lnr.lnr-chevron-right
            .col-lg-6
                .right-wrapper
                    h1.shine-title Kem Dưỡng Ẩm Miracle Moisture Cream 50ml
                    p.status Còn hàng
                    .table-wrap
                        .table-row
                            .title Giá
                            .old 420.000 đ
                        .table-row
                            .title Giá khuyến mãi
                            .new 320.000 đ
                        .table-row
                            .title Số lượng
                            .quantity-box
                                button -
                                input(type="text" value='1')
                                button +
                        .table-row
                            .title Màu sắc
                            .color-options
                                .color-item.active
                                    a(href="javascript:void(0)" style='background: #e08271')
                                .color-item
                                    a(href="javascript:void(0)" style='background: #000')
                                .color-item
                                    a(href="javascript:void(0)" style='background: #b3b3b3')
                        .table-row
                            .title Chia sẻ
                            ul.social
                                li
                                    a(href="#")
                                        em.fa.fa-facebook
                                li
                                    a(href="#")
                                        em.fa.fa-youtube-play
                                li
                                    a(href="#")
                                        em.fa.fa-twitter
                                li
                                    a(href="#")
                                        em.fa.fa-instagram
                    .add-cart
                        a(href="#")
                            em.fa.fa-shopping-basket
                            | Đặt hàng ngay